.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
  background-image: url("../images/portrait.jpg");
  max-width: 100%;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Layout
    ============================= */

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-width: 100%;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  z-index: 3;
  background: transparent;
  padding: 0 0 3rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-body{
  background-color: rgba(48, 44, 40, 0.7);
  padding: 15px;
}
.wallet-conection {
  background-color: rgba(213, 129, 51, 0.7);
  padding: 5px;
  font-size: small;
  color: white;
  height: 30px;
  text-align: center;
  line-height: 7px;
}

.sub-text {
  font-size: 25px;
  color: white;
}

a, a:visited {
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #aa57c6 30%, #e2ab35 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: relative;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #aa57c6, #e2ab35);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.loader {
  background-image: url('../images/loader.gif');
  width: 50px;
  height: 50px;
  top: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
